@import "tailwindcss";
/* 🔥 thêm dòng này để bật class dark */
@custom-variant dark (&:where(.dark, .dark *));
:root {
  --background-light: #ffffff;
  --foreground-light: #020617;
  --background-dark: #020617;
  --foreground-dark: #e5e7eb;
  --background: var(--background-light);
  --foreground: var(--foreground-light);
}

html.dark {
  --background: var(--background-dark);
  --foreground: var(--foreground-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root:not(.force-light) {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Text",
    "Segoe UI",
    sans-serif;
}

@import "../styles/globals.css";
